.bottomsection {
  @include av('padding-top', 100, 60);
  &__under-inner {
  }
  &__container {
    display: flex;
    column-gap: 67px;
    row-gap: 42px;
    @media (max-width: ($xl)) {
      flex-direction: column;
    }
  }
  &__content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (min-width: ($xl)) {
      flex: 0 1 560px;
    }
  }
  &__title {
    margin-bottom: 25px;
    @media (max-width: ($xl)) {
      margin-bottom: 17px;
    }
  }
  &__text {
    margin-bottom: 30px;
    @media (max-width: ($xl)) {
      margin-bottom: 20px;
    }
  }
  &__image {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    @media (min-width: ($xl)) {
      flex: 0 1 645px;
    }
    @media (max-width: ($xl)) {
      margin-bottom: -130px !important;
    }
    @media (max-width: ($sm)) {
      margin-bottom: -100px !important;
      img {
        max-width: 90%;
        margin: 0 auto;
        display: block;
      }
    }
  }
  &__under {
    @include av('padding-top', 82, 40);
    @include av('padding-bottom', 60, 40);
    transform: translateX(-50%) translateY(280px);
    z-index: 10;
    width: 100%;
    background-color: $primary-300;
    @media (min-width: ($xl)) {
      border-radius: 279px;
      position: absolute;
      bottom: 0;
      left: 50%;
      @include av('padding-right', 80, 0);
      max-width: 1542px;
    }
    @media (max-width: ($xl)) {
      position: relative;
      transform: translateY(0);
    }
  }

  &__list {
    padding-left: 20px;
    @include av('margin-bottom', 40, 25);
  }
  &__item {
    list-style: disc;
    color: $gray-200;
    @include av('font-size', 20, 17);
    font-weight: 700;
    line-height: 1.4;
  }
}
