.half-gradient {
  display: flex;
  position: relative;
  @include av('padding-top', 92, 50);
  @include av('padding-bottom', 140, 50);
  &__content {
    max-width: 620px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 30;
  }
  &__image {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__dec {
    width: 70%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
  }
}
