.request-call {
   @include av('padding-top', 73, 61);
  &__inner {
    max-width: 1182px;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__text-info {
    color: #000;
    @include av('font-size', 25, 20);
    line-height: 1.4;
    margin-bottom: 16px;
    @media (max-width: ($md)) {
       margin-bottom: 21px;
    }
  }
  &__text-main {
    word-break: break-all;
    color: #000;
    @include av('font-size', 35, 30);
    line-height: 1.2;
    margin-bottom: 30px;
  }
  &__button {
  }
}
