.rounded-block {
  padding: 0 16px;
  &__container {
    position: relative;
    background-color: $primary-200;
    border-radius: 0 99px 99px 0;
    overflow: hidden;
    display: flex;
    padding: 0 !important;
    @media (max-width: ($lg)) {
      flex-direction: column;
      row-gap: 27px;
      border-radius: 0 0 25px 25px;
    }
  }
  &__image {
    flex: 0 0 43%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    flex: 0 1 auto;
    z-index: 10;
    position: relative;
    @include av('padding-top', 84, 20);
    @include av('padding-right', 120, 26);
    padding-bottom: 100px;
    @include av('padding-left', 100, 24);
  }
  &__title {
    color: $gray-200;
    @include av('font-size', 40, 30);
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__text {
  }
  &__logo {
    position: absolute;
    right: 47px;
    bottom: 57px;
    @media (max-width: ($md)) {
      width: 60px;
      height: 50px;
      bottom: 25px;
    }
  }
}
