.testimonials {
  @include av('padding-top', 106, 40);
  @include av('padding-bottom', 116, 40);
  &_py {
    padding-top: 106px !important;
    padding-bottom: 116px !important;
    @media (max-width: ($lg)) {
      padding-top: 40px !important;
      padding-bottom: 30px !important;
    }
  }
  &__text {
    text-align: center;
    @include av('margin-bottom', 75, 35);
  }
  &__title {
    margin-bottom: 57px;
    @media (max-width: ($md)) {
      margin-bottom: 24px;
    }
    &_hidden {
      display: none;
    }
    &_video {
      color: $primary-300;
      @include av('font-size', 35, 25);
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
      @media (max-width: ($md)) {
        margin-bottom: 17px;
      }
    }
  }
  &__slider {
    width: 100%;
    &_video {
      @include av('height', 590, 360);
    }
  }
  &__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 58px;
    @media (max-width: ($md)) {
      margin-top: 20px;
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: #efefef;
      border: 2px solid $gray-300;
      opacity: 0.7;
      flex-shrink: 0;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $primary-300;
    }
  }
}

.slide-testimonials {
  width: 483px;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 56px 51px 46px 52px;
  height: 100%;
  display: flex;
  flex-direction: column;
  &_video {
    padding: 50px 31px 40px 31px;
  }
  @media (max-width: ($lg)) {
    padding: 27px 25px 22px 27px;
    width: 380px;
  }

  @media (max-width: ($sm)) {
    width: 320px;
  }
  &:nth-child(odd) {
    background-color: $primary-100;
  }
  &:nth-child(even) {
    background-color: $primary-200;
  }
  &__rate {
    width: 127px;
    margin-bottom: 12px;
    @media (max-width: ($lg)) {
      margin-bottom: 12px;
      width: 70px;
    }
  }
  &__text {
    color: #000;
    @include av('font-size', 20, 14);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 37px;
    @media (max-width: ($lg)) {
      margin-bottom: 15px;
    }
  }
  &__avatar {
    width: 83px;
    height: 83px;
    object-fit: contain;
    margin-bottom: 12px;
    @media (max-width: ($lg)) {
      width: 41px;
      height: 41px;
    }
  }
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  &__author {
    color: #000;
    @include av('font-size', 20, 14);
    font-weight: 700;
    line-height: 1.2;
  }
}
