.testimonials {
  @include av('padding-top', 106, 40); //change pt
  @include av('padding-bottom', 116, 40); //change pt
  &__title {
    margin-bottom: 57px;
    @media (max-width: ($md)) {
      margin-bottom: 24px;
    }
  }
  &__slider {
    width: 100%;
  }
  &__wrapper {
    display: flex;
    width: 100%;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 58px;
    @media (max-width: ($md)) {
      margin-top: 20px;
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: #efefef;
      border: 2px solid $gray-300;
      opacity: 0.7;
      flex-shrink: 0;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $primary-300;
    }
  }
}

.slide-testimonials {
  width: 483px;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 56px 51px 46px 52px;
  @media (max-width: ($lg)) {
    padding: 27px 25px 22px 27px;
    width: 380px;
  }

  @media (max-width: ($sm)) {
    width: 240px;
  }
  &:nth-child(odd) {
    background-color: $primary-100;
  }
  &:nth-child(even) {
    background-color: $primary-200;
  }
  &__rate {
    width: 127px;
    margin-bottom: 12px;
    @media (max-width: ($lg)) {
      margin-bottom: 6px;
      width: 70px;
    }
  }
  &__text {
    color: #000;
    @include av('font-size', 20, 12);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 37px;
    @media (max-width: ($lg)) {
      margin-bottom: 15px;
    }
  }
  &__avatar {
    width: 83px;
    height: 83px;
    object-fit: contain;
    margin-bottom: 12px;
    @media (max-width: ($lg)) {
      width: 41px;
      height: 41px;
    }
  }
  &__author {
    color: #000;
    @include av('font-size', 20, 12);
    font-weight: 700;
    line-height: 1.2;
  }
}
