.about {
  @include av('padding-top', 103, 80); // change pt
  @include av('padding-bottom', 70, 30); // change pb
  position: relative;
  &__bg {
    position: absolute;
    left: -74%;
    margin-top: 20px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-repeat: no-repeat;
    @media (max-width: ($lg)) {
      display: none;
    }
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    @include av('column-gap', 97, 0);
    @media (max-width: ($lg)) {
      flex-direction: column-reverse;
      row-gap: 35px;
    }
  }
  &__image {
    z-index: 20;
    position: relative;
    @media (min-width: ($lg)) {
      flex: 0 1 496px;
    }
  }
  &__content {
    z-index: 20;
    position: relative;
    background-color: #fff;
    @media (min-width: ($lg)) {
      flex: 0 1 651px;
    }
  }
  &__title {
    margin-bottom: 28px;
    @media (max-width: ($sm)) {
      margin-bottom: 16px;
    }
  }
}

.standout {
  @include av('padding-top', 106, 30);
  @include av('padding-bottom', 145, 60);
  &__container {
  }
  &__title {
    @include av('margin-bottom', 77, 18);
  }
  &__content {
  }
}

.row-halfround {
  display: flex;
  @include av('column-gap', 85, 0);
  align-items: center;
  @media (max-width: ($lg)) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 26px;
  }
  &:not(:last-child) {
    margin-bottom: 47px;
    @media (max-width: ($md)) {
      margin-bottom: 30px;
    }
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
    @media (max-width: ($lg)) {
      align-items: flex-end;
      flex-direction: column;
    }
    .row-halfround__image {
      border-right: 18px solid $primary-300;
      border-radius: 166.5px 0 0 166.5px;
      @media (max-width: ($md)) {
        border-right: 9px solid $primary-300;
      }
    }
  }
  &:nth-child(odd) {
    .row-halfround__image {
      border-left: 18px solid $primary-300;
      border-radius: 0 166.5px 166.5px 0;
      @media (max-width: ($md)) {
        border-left: 9px solid $primary-300;
      }
    }
  }
  &__image {
    overflow: hidden;
    flex: 0 0 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
  }
  &__title {
    color: $gray-100;
    @include av('font-size', 30, 25); //change fz
    font-weight: 700;
    margin-bottom: 29px;
    @media (max-width: ($lg)) {
      margin-bottom: 14px;
    }
  }
  &__text {
  }
}

.homeservices {
  @include av('padding-top', 108, 31);
  @include av('padding-bottom', 138, 70);
  @media (max-width: ($xl)) {
    padding-bottom: 0;
  }
  position: relative;
  z-index: 50;
  background-color: $primary-300;
  @media (min-width: ($xl)) {
    border-radius: 0px 362px 0px 0px;
  }
  &__image {
    @media (max-width: ($xl)) {
      width: 70%;
      margin: 0 auto;
    }
    @media (min-width: ($xl)) {
      position: absolute;
      right: -5%;
      bottom: 0;
    }
    @media (max-width: ($sm)) {
      width: 120%;
      max-width: max-content;
    }
  }
  &__container {
    @media (max-width: ($xl)) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &__title {
    color: #fff;
    @include av('font-size', 45, 30);
    font-weight: 700;
    margin-bottom: 57px;
    @media (max-width: ($sm)) {
      margin-bottom: 20px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 103px;
    gap: 11px;
    max-width: 1015px;
    @media (max-width: ($lg)) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 82px;
    }
    @media (max-width: ($sm)) {
      grid-template-columns: 1fr;
    }
  }
}
.item-homeservices {
  border-radius: 76.4px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 22.75px;
  position: relative;
  padding: 0 30px;
  @media (max-width: ($sm)) {
    column-gap: 16px;
  }
  &::before {
    content: '';
    position: absolute;
    width: 54px;
    height: 100%;
    top: 0;
    left: 0;
    background: #ededed;
    opacity: 0.8;
    @media (max-width: ($sm)) {
      width: 44px;
    }
  }
  &__text {
    color: $gray-200;
    @include av('font-size', 19, 16);
    font-weight: 700;
    position: relative;
    z-index: 10;
    line-height: 1.2;
  }
  &__icon {
    position: relative;
    z-index: 10;
    width: 45px;
    height: 45px;
    object-fit: contain;
    @media (max-width: ($xl)) {
      width: 35px;
      height: 35px;
    }
  }
}

.homecontact {
}
.under-homecontact {
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: flex-end;
    @media (max-width: ($xl)) {
      flex-direction: column;
      row-gap: 42px;
    }
  }
  &__image {
    @include av('width', 930, 50, 1540, 360);
    margin: 0 auto;
    @media (min-width: ($xl)) {
      position: absolute;
      left: -7%;
      top: 50%;
      transform: translateY(-50%);
    }
    @media (max-width: ($lg)) {
      width: 120%;
      transform: translateX(-100px);
      max-width: fit-content;
    }
    @media (max-width: ($sm)) {
      width: 125%;
    }
  }
  &__content {
    position: relative;
    z-index: 60;
    width: 100%;
    @media (min-width: ($xl)) {
      max-width: 544px;
    }
  }
  &__title {
    color: #fff;
    @include av('font-size', 50, 30);
    font-weight: 700;
    @include av('margin-bottom', 63, 30);
  }
  &__list {
    padding-left: 25px;
  }
  &__item {
    list-style: disc;
    color: #fff;
    @include av('font-size', 25, 20);
    font-weight: 500;
    line-height: 1.6;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.7;
    }
  }
}

.recognition {
  background-color: $primary-100;
  padding-top: 391px;
  @media (max-width: ($xl)) {
    padding-top: 90px;
  }
  @media (max-width: ($sm)) {
    padding-top: 42px;
  }
  @include av('padding-bottom', 146, 60);
  &__inner {
    max-width: 1138px;
    margin: 0 auto;
    padding: 0 16px;
  }
  &__title {
    margin-bottom: 15px;
  }
  &__text {
    color: $gray-100;
    @include av('font-size', 20, 16);
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 56px;
    grid-auto-rows: 227px;
    @media (max-width: ($lg)) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 15px;
    }
    @media (max-width: ($sm)) {
      grid-auto-rows: auto;
    }
  }
  &__item {
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    will-change: auto;
    &:hover {
      transform: scale(1.05);
    }
  }
}
