.primary-button {
  color: #fff;
  border-radius: 33.5px;
  background: linear-gradient(90deg, rgb(36, 159, 205), rgb(133, 189, 230) 98.658%);
  line-height: 1.6;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  &_sm {
    height: 40px;
    padding: 0 31px 0 31px;
    @include av('font-size', 18, 16); // change fz!
  }
  &_md {
    height: 62px;
    padding: 0 65px 0 65px;
    @include av('font-size', 25, 20); // change fz!
  }
  &_lg {
    height: 67px;
    padding: 0 50px 0 50px;
    @include av('font-size', 25, 20); // change fz!
    @media (max-width: ($md)) {
      height: 55px;
      padding: 0 34px 0 34px;
    }
  }
}

.button-hover {
  position: relative;
  transition: all 0.4s ease !important;
}
.button-hover:hover {
  box-shadow: 0 10px 20px -10px #1e96c8;
  transform: translateY(-1px);
}
