@import '../../node_modules/swiper/swiper.scss';
// @import '../../node_modules/swiper/modules/navigation/navigation.scss';
// @import '../../node_modules/swiper/modules/autoplay/autoplay.scss';
@import '../../node_modules/swiper/modules/pagination/pagination.scss';
// @import '../../node_modules/swiper/modules/scrollbar/scrollbar.scss';
// @import '../../node_modules/aos/src/sass/aos.scss';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:wght@500&display=swap');

/* Normalize */
@import 'normalize';

/* Helpers */
@import './utils/functions', './utils/variables', './utils/mixins', './ui/buttons', './ui/headings', './ui/gradients';

/* Template parts */
@import 'header', 'footer';

/* Sections */
@import 'sections/main-hero', 'sections/testimonials', 'sections/instagram';

/* Pages */
@import 'pages/homepage';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
}

[class*='__container'] {
  margin: 0 auto;
  padding: 0 $container-padding + px;
  max-width: $container-max-width + px;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

// >> - - - - - - - - - - - - - [current project styles] - - - - - - - - - - - - - - - - -
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;

  main {
    flex: 1 1 auto;
  }
}
