@import '../../node_modules/swiper/swiper.scss';
// @import '../../node_modules/swiper/modules/navigation/navigation.scss';
// @import '../../node_modules/swiper/modules/autoplay/autoplay.scss';
@import '../../node_modules/swiper/modules/pagination/pagination.scss';
// @import '../../node_modules/swiper/modules/scrollbar/scrollbar.scss';
@import '../../node_modules/aos/src/sass/aos.scss';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:wght@500&display=swap');

/* Helpers */
@import './helpers/functions', './helpers/variables', './helpers/mixins';

@import 'normalize', 'utilities';

/* UI */
@import './ui/buttons';

/* Template parts */
@import 'header', 'footer';

/* Sections */
@import 'sections/main-hero', 'sections/testimonials', 'sections/instagram', 'sections/bottomsection', 'sections/hero', 'sections/hero-info', 'sections/rounded-block',
  'sections/half-gradient', 'sections/request-call', 'sections/services-list';

/* Pages */
@import 'pages/homepage', 'pages/about-page', 'pages/services-page', 'pages/blog-page';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
}

[class*='__container'] {
  margin: 0 auto;
  padding: 0 $container-padding + px;
  max-width: $container-max-width + px;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;

  main {
    flex: 1 1 auto;
  }
}
